.menu {
    width: 100%;
    max-height: 200px;
    border-bottom: 1px solid rgb(0, 81, 255);

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        margin: 0 10px;
        font-size: 16px;

        &_active {
            border-bottom: 1px solid blue;
        }
    }
}